set timeout=5
set default=0

menuentry 'Yocto AArch64' {
    set root=(hd0,gpt1)
    linux /Image root=/dev/vda3 rw console=ttyAMA0,115200 earlycon=pl011,0x09000000 rootfstype=ext4 init=/sbin/init
    initrd /initramfs.bin
}

